styles.css

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 1;
  background-color: yellow;
}

button:active {
  outline: 1;
  background-color: yellow;
}

input.fetchURL {
  display: inline;
}

div.article {
  border: 1px black solid;
}

.inputNewArticle {
  border: 1px black solid;
}