input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 1;
  background-color: yellow;
}

button:active {
  outline: 1;
  background-color: yellow;
}

input.fetchURL {
  display: inline;
}

div.article {
  border: 1px black solid;
  width: 350px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 250px;
}

.inputNewArticle {
  border: 1px black solid;
  width: 350px;
}

li {
  list-style-type: none;
  word-wrap: break-word;
}

.liSummary {
  word-wrap: break-word;
  display: block;
}